<div class="page-top-info">
    <br><br>
    <div class="container">

        <div class="site-pagination">
            <h4>My Profile</h4>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>

                    <li class="breadcrumb-item active" aria-current="page">My Profile</li>
                </ol>
            </nav>

        </div>

    </div>
</div>

<div class="mat-elevation-z8">
    <div class="content container">

        <form [formGroup]="myProfileForm">

            <div class="row">
                <div class="col-lg-6">
                    <mat-form-field class="ApplayFullWidth">
                        <input matInput autocomplete="off" formControlName="firstName"
                            placeholder="{{'First Name'|translate}}">
                        <mat-error *ngFor="let validation of myProfile_validation_messages.firstName">
                            <mat-error
                                *ngIf="myProfileForm.get('firstName').hasError(validation.type) && (myProfileForm.get('firstName').dirty || myProfileForm.get('firstName').touched)">
                                {{validation.message|translate}}</mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="ApplayFullWidth">
                        <input matInput autocomplete="off" formControlName="lastName"
                            placeholder="{{'Last Name'|translate}}">
                        <mat-error *ngFor="let validation of myProfile_validation_messages.lastName">
                            <mat-error *ngIf="myProfileForm.get('lastName').hasError(validation.type) 
                                && (myProfileForm.get('lastName').dirty || myProfileForm.get('lastName').touched)">
                                {{validation.message|translate}}</mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <mat-form-field class="ApplayFullWidth">
                        <input matInput autocomplete="off" formControlName="phoneNumber"
                            placeholder="{{'Phone Number'|translate}}">
                        <mat-error *ngFor="let validation of myProfile_validation_messages.phoneNumber">
                            <mat-error
                                *ngIf="myProfileForm.get('phoneNumber').hasError(validation.type)
                                 && (myProfileForm.get('phoneNumber').dirty || myProfileForm.get('phoneNumber').touched)">
                                {{validation.message|translate}}</mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="ApplayFullWidth">
                        <input matInput autocomplete="off" readonly formControlName="userName"
                            placeholder="{{'User Name'|translate}}">
                        <mat-error *ngFor="let validation of myProfile_validation_messages.userName">
                            <mat-error *ngIf="myProfileForm.get('userName').hasError(validation.type) 
                                && (myProfileForm.get('userName').dirty || myProfileForm.get('userName').touched)">
                                {{validation.message|translate}}</mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>


            <div class="table-actions text-center">
                <button mat-raised-button color="primary" (click)="UpdateProfile()"
                    [disabled]="myProfileForm.invalid || !myProfileForm.dirty">
                    <mat-icon>save</mat-icon> <label> {{'Update'|translate}} </label>
                </button>
              
            </div>
        </form>
    </div>
</div>