/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 90%;
  }
  .ApplyFullWidth
  {
    width: 100%;
  }
  .tool-tip {
    color: white;
    background-color: red;

  }
  .modal-content
  {
    width: 1000px;
  }