<div>
    <div class="page-top-info">
        <div class="container">
            <h4>{{'Specs'|translate}}</h4>
            <div class="site-pagination">
                <a [routerLink]="['/Dashboard']">{{'Home'|translate}}</a> /
            </div>
        </div>
    </div>

    <br>

    <div class="mat-elevation-z8">
        <div class="content">
            <div class="actions" *ngIf="spec.id > 0">
                <button mat-raised-button color="primary" (click)="delete()">
                    <mat-icon>delete_forever</mat-icon> <label> {{'Delete'|translate}} </label>
                </button>
            </div>
            <form [formGroup]="specForm">
                <h1 mat-dialog-title *ngIf="spec.name">{{spec.name|langPipe:spec.nameAr}} {{'Details'|translate}}</h1>
                <h1 mat-dialog-title *ngIf="!spec.name">{{'Add-new'|translate}}</h1>
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <input matInput autocomplete="off" formControlName="name"
                                placeholder="{{'Name'|translate}}">
                            <mat-error *ngFor="let validation of spec_validation_messages.name">
                                <mat-error
                                    *ngIf="specForm.get('name').hasError(validation.type) && (specForm.get('name').dirty || specForm.get('name').touched)">
                                    {{validation.message|translate}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field>
                            <input matInput autocomplete="off" formControlName="description"
                                placeholder="{{'Desc'|translate}}">
                            <mat-error *ngFor="let validation of spec_validation_messages.description">
                                <mat-error
                                    *ngIf="specForm.get('description').hasError(validation.type) && (specForm.get('description').dirty || specForm.get('description').touched)">
                                    {{validation.message|translate}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>


                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <input matInput autocomplete="off" formControlName="nameAr"
                                placeholder="{{'NameAr'|translate}}">
                            <mat-error *ngFor="let validation of spec_validation_messages.nameAr">
                                <mat-error
                                    *ngIf="specForm.get('nameAr')?.hasError(validation.type) && (specForm.get('nameAr').dirty || specForm.get('nameAr').touched)">
                                    {{validation.message|translate}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field>
                            <input matInput autocomplete="off" formControlName="descriptionAr"
                                placeholder="{{'DescAr'|translate}}">
                            <mat-error *ngFor="let validation of spec_validation_messages.descriptionAr">
                                <mat-error
                                    *ngIf="specForm.get('descriptionAr').hasError(validation.type) && (specForm.get('descriptionAr').dirty || specForm.get('descriptionAr').touched)">
                                    {{validation.message|translate}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>


                </div>
                <div class="table-actions">
                    <button mat-raised-button color="primary" (click)="save()"
                        [disabled]="specForm.invalid || !specForm.dirty">
                        <mat-icon>save</mat-icon> <label> {{'Save'|translate}} </label>
                    </button>
                    <button mat-raised-button color="primary" type="button" (click)="cancel()">
                        <mat-icon>cancel</mat-icon> <label> {{'Cancel'|translate}} </label>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>