
<div class="row"  *ngIf="allowMulti">
    <div class="col-sm-6" *ngFor="let img of itemImages | filter: 'recordStatus' : '0'">
        <mat-card>
            <img [src]="img.iconName == null ? './assets/img/defult img.jpg' : img.iconName" alt="" class="image-icon" />
            <button mat-button color="warn" (click)="makeCover(img)">Make Cover <mat-icon *ngIf="img.iconName == iconName">bookmark</mat-icon></button>  
            <button mat-button color="warn" (click)="deleteImage(img)" style="float: right;"><mat-icon>delete</mat-icon></button>  
        </mat-card>
        <br>
    </div>
</div>
<div *ngIf="!allowMulti">
    <img [src]="iconName == null ? './assets/img/defult img.jpg' : iconName" alt="" class="image-icon" />
</div>
<br>
<button mat-button color="warn" (click)="upload()">
    <mat-icon>file_upload</mat-icon>
    {{text}}
</button>
<br/>
<ul>
    <li *ngFor="let file of files" [@fadeInOut]="file.state">
          <mat-progress-bar [value]="file.progress"></mat-progress-bar>
          <span id="file-label">
          {{file.data.name}} 
          <a title="Retry" (click)="retryFile(file)" *ngIf="file.canRetry">
          <mat-icon>refresh</mat-icon></a>
          <a title="Cancel" (click)="cancelFile(file)" *ngIf="file.canCancel">
          <mat-icon>cancel</mat-icon></a>
          </span>
    </li>
</ul>
<input type="file" id="fileUpload" name="fileUpload" accept="{{accept}}" style="display:none;" [multiple]="allowMulti"/>
<!-- multiple="multiple" -->