
<div>
    <div class="page-top-info">
        <br><br>
        <div class="container">
            <div class="site-pagination">  <h4>{{'Slider'|translate}}</h4> 
                <nav aria-label="breadcrumb" >
                   <ol class="breadcrumb">
                     <li class="breadcrumb-item"><a style="cursor: pointer  !important;" [routerLink]="['/dashboard']">Home</a></li>
                     <li class="breadcrumb-item"><a  class="pointer" [routerLink]="['/SliderList']">Slider</a></li>
                     <li class="breadcrumb-item active" *ngIf="slider.id ==0" aria-current="page">  Add Slider</li>
                     <li class="breadcrumb-item active" *ngIf="slider.id > 0" aria-current="page"> Edit Slider</li>
       
                   </ol>
                 </nav>
                 
               </div> 
        </div>
    </div>
    <!--bread curmb end-->

    <br>

    <div class="mat-elevation-z8">
        <div class="content container">
            <div class="actions" *ngIf="slider.id > 0">
                <button mat-raised-button color="primary" (click)="delete()">
                    <mat-icon>delete_forever</mat-icon> <label> Delete </label>
                </button>
            </div>
            <form [formGroup]="sliderForm">
                <h1 mat-dialog-title *ngIf="slider.name">{{slider.name}} Details</h1>
                <h1 mat-dialog-title *ngIf="!slider.name">{{'Add-new'|translate}}</h1>
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field class="ApplayFullWidth">
                            <input matInput autocomplete="off" formControlName="name" placeholder="{{'Title'|translate}}">
                            <mat-error *ngFor="let validation of slider_validation_messages.name">
                                <mat-error
                                    *ngIf="sliderForm.get('name').hasError(validation.type) && (sliderForm.get('name').dirty || sliderForm.get('name').touched)">
                                    {{validation.message|translate}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field > 
                            <input matInput autocomplete="off" formControlName="description" placeholder="{{'Desc'|translate}}">
                            <mat-error *ngFor="let validation of slider_validation_messages.description">
                                <mat-error
                                    *ngIf="sliderForm.get('description').hasError(validation.type) && (sliderForm.get('description').dirty || sliderForm.get('description').touched)">
                                    {{validation.message|translate}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field >
                            <input matInput autocomplete="off" formControlName="buttonUrl" placeholder="{{'Button Url'|translate}}">
                           
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <app-image-upload (complete)="onFileComplete($event)" [iconName]="slider.imageUrl" text="Upload slider Icon" target="SliderImages"></app-image-upload>
                        <mat-error *ngFor="let validation of slider_validation_messages.imageUrl">
                            <mat-error
                                *ngIf="sliderForm.get('imageUrl').hasError(validation.type) && (sliderForm.get('imageUrl').dirty || sliderForm.get('imageUrl').touched)">
                                {{validation.message|translate}}</mat-error>
                        </mat-error>  
                    </div>
                </div>
                
               
                <div class="row">
<!--                    
                   
                    <div class="col-lg-6">
                        <mat-form-field >
                            <input matInput autocomplete="off" formControlName="groupCode" placeholder="{{'GroupCode'|translate}}">
                        </mat-form-field>
                    </div> -->
                </div>
               <div class="row">
         
               </div>
                    
                <div class="table-actions mt-5">
                    <button mat-raised-button color="primary" (click)="save()"
                        [disabled]="sliderForm.invalid || !sliderForm.dirty">
                        <mat-icon>save</mat-icon> <label> {{'Save'|translate}} </label>
                    </button>
                    <button mat-raised-button color="primary" type="button" (click)="cancel()">
                        <mat-icon>cancel</mat-icon> <label> {{'Cancel'|translate}} </label>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>