.mat-form-field{
    margin-right: 20px;
    width: 100%;
}
.actions{
    float: right;
    margin-top: 25px;
  }
  .actions button{
    margin-left: 5px;
  }
.table-actions{
    text-align: center;
    button{
        margin-left: 5px;
    }
}
.content{
    padding: 5%;
    background-color:white;
}