<div>
    <!--bread curmb start-->
    <div class="page-top-info">
        <br><br>
        <div class="container">
            <div class="site-pagination">
                <h4>{{'Categories'|translate}}</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a style="cursor: pointer  !important;"
                                [routerLink]="['/dashboard']">Home</a></li>
                        <li class="breadcrumb-item"><a class="pointer" [routerLink]="['/Clients']">Clients</a>
                        </li>

                        <li class="breadcrumb-item active" aria-current="page"> Update Client
                        </li>

                    </ol>
                </nav>

            </div>
        </div>
    </div>
    <!--bread curmb end-->

    <br>

    <div class="mat-elevation-z8">
        <div class="content container">
            <form [formGroup]="clientForm">
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field class="ApplayFullWidth">
                            <input matInput autocomplete="off" formControlName="name"
                                placeholder="{{'First Name'|translate}}">
                            <mat-error *ngFor="let validation of client_validation_messages.name">
                                <mat-error
                                    *ngIf="clientForm.get('name').hasError(validation.type) && (clientForm.get('name').dirty || clientForm.get('name').touched)">
                                    {{validation.message|translate}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 ">
                        <mat-form-field>
                            <input matInput autocomplete="off" formControlName="lastName"
                                placeholder="{{'Last Name'|translate}}">
                            <mat-error *ngFor="let validation of client_validation_messages.lastName">
                                <mat-error *ngIf="clientForm.get('lastName').hasError(validation.type) 
                                    && (clientForm.get('lastName').dirty || clientForm.get('lastName').touched)">
                                    {{validation.message|translate}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-lg-6">
                        <mat-form-field class="ApplayFullWidth">
                            <input readonly matInput autocomplete="off" formControlName="email"
                                placeholder="{{'Email'|translate}}">
                            <mat-error *ngFor="let validation of client_validation_messages.email">
                                <mat-error *ngIf="clientForm.get('email').hasError(validation.type)
                                     && (clientForm.get('email').dirty || clientForm.get('email').touched)">
                                    {{validation.message|translate}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 ">
                        <mat-form-field>
                            <input readonly matInput autocomplete="off" formControlName="mobile"
                                placeholder="{{'Phone'|translate}}">
                            <mat-error *ngFor="let validation of client_validation_messages.mobile">
                                <mat-error *ngIf="clientForm.get('mobile').hasError(validation.type) 
                                    && (clientForm.get('mobile').dirty || clientForm.get('mobile').touched)">
                                    {{validation.message|translate}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field class="ApplayFullWidth">
                            <input matInput autocomplete="off" formControlName="address"
                                placeholder="{{'Address'|translate}}">
                            <mat-error *ngFor="let validation of client_validation_messages.address">
                                <mat-error *ngIf="clientForm.get('address').hasError(validation.type)
                                     && (clientForm.get('address').dirty || clientForm.get('address').touched)">
                                    {{validation.message|translate}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="table-actions text-center">
                    <button mat-raised-button color="primary" (click)="save()" class="mr-2"
                        [disabled]="clientForm.invalid || !clientForm.dirty">
                        <mat-icon>save</mat-icon> <label> {{'Save'|translate}} </label>
                    </button>
                    <button mat-raised-button color="primary" type="button" (click)="cancel()">
                        <mat-icon>cancel</mat-icon> <label> {{'Cancel'|translate}} </label>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>