
     <div class="row mt-5 mb-5 " >
        <img style="width: 500px;" class="ml-auto p-3 mr-auto img-fluid" src="./../../../assets/img/404.jpg">
    </div>

    <div class="row" >
        <p class="ml-auto mr-auto" style="font-size: 20px;font-weight: bold;">
            {{'PageNotFound'|translate}}
        </p>
    </div>

    <div class="row  mb-2" >
        <a (click)="backToHome()"  style="width: 20%;" class="mat-raised-button mat-button-base mat-primary ml-auto mr-auto text-white btn-block mt-2">
            {{'Home'|translate}} </a>
    </div>